.grid-wrap {
  padding: 1%;
}

.list-block {
  float: left;
  margin: 1%;
  width: 18%;
  height: 300px;
  font-size: 0;
  overflow: hidden;
}

.list-block figure {
  position: relative;
  display: block;
  color: black;
  text-align: center;
}

.list-block figure:after {
  background: rgb(248, 248, 255);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.95;
  -webkit-transform: skew(-45deg) scaleX(0);
  -ms-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.list-block figure:hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  -ms-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  -moz-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list-block figure:hover figcaption h2,
.list-block figure:hover figcaption p {
  -moz-transform: translate3d(0%, 0%, 0);
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.list-block figure:hover figcaption h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.list-block figure:hover figcaption p {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.list-block img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  max-width: 100%;
  min-width: 100%;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  -webkit-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.list-block figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.list-block h2,
.list-block p {
  margin: 0;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.list-block h2 {
  padding: 0 30px 10px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
}

.list-block p {
  padding: 0 50px;
  font-size: 14px;
  text-transform: uppercase;
}

.demo-2 figure figcaption p {
  margin-top: -45px;
}

.demo-2 figure:after {
  -webkit-transform: skew(-45deg) scaleX(0);
  -ms-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
}

.demo-2 figure:hover:after {
  -webkit-transform: skew(45deg) scaleX(1);
  -ms-transform: skew(45deg) scaleX(1);
  transform: skew(45deg) scaleX(1);
}

.demo-2 figure:hover figcaption p {
  margin-top: 0;
}

.demo-3 figure figcaption {
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.demo-3 figure figcaption h2,
.demo-3 figure figcaption p {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.demo-3 figure:after {
  -webkit-transform: skew(0deg) scaleX(1);
  -ms-transform: skew(0deg) scaleX(1);
  transform: skew(0deg) scaleX(1);
}

.demo-3 figure:hover:after {
  -webkit-transform: skew(45deg) scaleX(0);
  -ms-transform: skew(45deg) scaleX(0);
  transform: skew(45deg) scaleX(0);
}

.demo-3 figure:hover figcaption {
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.demo-3 figure:hover img {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.demo-3 figure img {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----page styles---*/
* {
  box-sizing: border-box;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

body {
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5b5b5b, #4d4d4d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5b5b5b, #4d4d4d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  padding: 4%;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 5px;
}

h2 {
  color: black;
  padding: 1%;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.made-with-love {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 10px;
  font-family: arial;
  clear: left;
  text-align: center;
  color: #fff;
}

.made-with-love i {
  font-style: normal;
  color: #f50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}

.made-with-love a {
  color: #fff;
  text-decoration: none;
}

.made-with-love a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */
.grid {
  background: #eee;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #d26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 {
  width: 40%;
}

.grid-item--width3 {
  width: 60%;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}

.grid-item--noraml {
  height: 340px;
  width: 40%;
}

.grid-item--samll {
  height: 280px;
  width: 20%;
}

.grid-item--bigger {
  height: 400px;
  width: 60%;
}

.container {
  margin: 0 auto;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: #222;
}

ul.tabs li {
  background: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ededed;
  color: #222;
}

.tab-content {
  display: none;
  padding: 15px;
  height: 100%;
}

.tab-content.current {
  display: inherit;
}


.not-recommend-item {
  color: white;
}

.not-recommend-list {
  display: block;
  padding: 30px;
}

.not-recommend-list li {
  padding-top: 20px;
}

.not-recommend-item a {
  font-size: 20px;
  color: white;
}

.not-recommend-item p {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 15px;
  color: white;
}<link rel="stylesheet" href="/css/spoiler.css" type="text/css"><script src="/js/spoiler.js" type="text/javascript" async></script>