<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Yann's 2018 Choice</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://lib.baomitu.com/materialize/1.0.0/css/materialize.css" />

  <!-- Compiled and minified JavaScript -->
  <script src="http://lib.baomitu.com/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="http://fonts.proxy.ustclug.org/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <nav class="nav-extended">
      <div class="nav-wrapper grey darken-3">
        <a href="#" class="brand-logo brand-logo-custom">Yann's 2018 Choice</a>
        <ul id="nav-mobile" class="right">
          <li class="tab">
            <a href="../annual-recommend/2019.html">Yann's 2019 Choice</a>
          </li>
          <li class="tab">
            <a href="../annual-recommend/2020.html">Yann's 2020 Choice</a>
          </li>
          <li v-for="tab in tabs" :id="tab.id" :class="{'active': currentLocation === tab.id}">
            <a @click="getData(tab.id)">{{ tab.name }}</a>
          </li>
        </ul>
      </div>
      <div class="nav-content grey darken-3">
        <ul class="tabs tabs-transparent">
          <li class="tab" v-for="tab in currentSubLocations" :class="{'active': currentSubLocation === tab.id}">
            <a @click="getSubData(tab.id)">{{ tab.name }}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col s4 m3" v-for="data in current">
        <div class="card hoverable">
          <div class="card-image">
            <img class="item-image" :src="data.image" />
            <a :href="data.url" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">link
              </i></a>
          </div>
          <div class="card-content card-content-normal">
            <span class="card-title">{{ data.name }}</span>
            <p>{{ data.recommendText }}</p>
            <p class="right-align recommend-star">
              {{
              data.recommendStar == undefined ? "差评指数" : "推荐指数"
              }}
              ：{{ data.recommendStar }}{{ data.notRecommendStar }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://lib.baomitu.com/vue/2.5.17/vue.min.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        tabs: [{
            id: "tab-book",
            name: "书籍",
            recommend: [{
                name: "屠夫十字镇",
                image: "https://s1.ax1x.com/2018/08/30/PjDizd.md.png",
                url: "https://book.douban.com/subject/26765928/",
                recommendText: "和自然对抗的人，总是会输的多一些，还好年轻，继续上路",
                recommendStar: "★★★★★"
              },
              {
                name: "DevOps实践指南",
                image: "https://s1.ax1x.com/2018/08/31/PvNU6P.md.png",
                url: "https://book.douban.com/subject/30186150/",
                recommendText: "Devops的前因后果都说的挺清楚的，提出来的都也是能够落地的，务实的一本书",
                recommendStar: "★★★★"
              },
              {
                name: "雪落香杉树",
                image: "https://s1.ax1x.com/2018/09/06/iCYsPS.md.png",
                url: "https://book.douban.com/subject/5431784/",
                recommendText: "意外统御宇宙万物，唯独人心除外",
                recommendStar: "★★★★★"
              },
              {
                name: "原则",
                image: "https://s1.ax1x.com/2018/09/06/iCtCxH.md.png",
                url: "https://book.douban.com/subject/27608239/",
                recommendText: "让自己的思维像一个机器一样进化",
                recommendStar: "★★★★"
              },
              {
                name: "中产阶级如何保护自己的财富",
                image: "https://s1.ax1x.com/2018/09/06/iCtEZt.png",
                url: "https://book.douban.com/subject/27015138/",
                recommendText: "欧神无论对错，都让我们更了解一点房子，这就足够",
                recommendStar: "★★★★"
              },
              {
                name: "非暴力沟通",
                image: "https://s1.ax1x.com/2018/09/06/iCtmi8.png",
                url: "https://book.douban.com/subject/26728136/",
                recommendText: "理解万岁",
                recommendStar: "★★★★"
              }
            ],
            normal: [{
                name: "刻意练习",
                image: "https://s1.ax1x.com/2018/08/30/PjDZeP.png",
                url: "https://book.douban.com/subject/26895993/",
                recommendText: "天才是日复一日的锤炼",
                recommendStar: "★★★"
              },
              {
                name: "存在主义咖啡馆",
                image: "https://s1.ax1x.com/2018/08/30/PjDMWQ.png",
                url: "https://book.douban.com/subject/27170538/",
                recommendText: "看着八卦，一个时代就终结了",
                recommendStar: "★★★"
              },
              {
                name: "理性乐观派",
                image: "https://s1.ax1x.com/2018/09/11/iFRuFK.md.png",
                url: "https://book.douban.com/subject/6913343/",
                recommendText: "可以看作社会进步的文献，与其说是经济学不如说是生产力的进步",
                recommendStar: "★★★"
              },
              {
                name: "人类的知识",
                image: "https://s1.ax1x.com/2018/09/18/ieSCHH.md.jpg",
                url: "https://book.douban.com/subject/1086511/",
                recommendText: "博学家的手稿",
                recommendStar: "★★★"
              },
              {
                name: "函数式编程思维",
                image: "https://i.loli.net/2018/11/25/5bfa79b081324.jpg",
                url: "https://book.douban.com/subject/26587213/",
                recommendText: "偏实战的函数式编程书，作为入门书籍还是不错的",
                recommendStar: "★★★"
              }
            ],
            notRecommend: [{
                name: "维罗妮卡决定去死",
                image: "https://s1.ax1x.com/2018/09/18/ieZl9g.jpg",
                url: "https://book.douban.com/subject/4737325/",
                recommendText: "很差劲，读起来真是让我绝望，本来没读懂作者想要表达的意思",
                notRecommendStar: "★★★★"
              },
              {
                name: "跃迁",
                image: "https://s1.ax1x.com/2018/09/18/ieZYBq.png",
                url: "https://book.douban.com/subject/27078435/",
                recommendText: "里面有一个干货版，实际上我觉得作者这本书写成一个小册子就可以了，甚至于一篇博客就表达的很清楚",
                notRecommendStar: "★★★★"
              },
              {
                name: "韭菜的自我修养",
                image: "https://s1.ax1x.com/2018/09/18/ieZaNT.png",
                url: "https://book.douban.com/subject/30314653/",
                recommendText: "口水文，实在是没有什么意义。",
                notRecommendStar: "★★★★★"
              }
            ]
          },
          {
            id: "tab-video",
            name: "视频",
            recommend: [{
              name: "恶魔人 Crybaby",
              image: "https://s1.ax1x.com/2018/09/09/ii8iNT.png",
              url: "https://movie.douban.com/subject/26997470/",
              recommendText: "恶魔 VS 人性",
              recommendStar: "★★★★★"
            }],
            normal: [],
            notRecommend: []
          },
          {
            id: "tab-other",
            name: "其他",
            recommend: [],
            normal: [],
            notRecommend: []
          }
        ],
        currentData: null,
        current: null,
        currentLocation: null,
        currentSubLocation: null,
        currentSubLocations: [{
            id: "all",
            name: "所有"
          },
          {
            id: "recommend",
            name: "推荐"
          },
          {
            id: "normal",
            name: "中立"
          },
          {
            id: "notRecommend",
            name: "差评"
          }
        ]
      },
      methods: {
        getData: function (id) {
          this.currentLocation = id;
          if (id === undefined) {
            this.currentData = this.tabs[0];
          }
          this.currentData = this.tabs.filter(item => item.id === id)[0];
          this.current = this.currentData.recommend;
          this.currentSubLocation = "recommend";
        },
        getSubData: function (type) {
          this.currentSubLocation = type;
          switch (this.currentSubLocation) {
            case "all":
              this.current = this.getAll(this.currentData);
              break;
            default:
              this.current = this.currentData[this.currentSubLocation];
          }
        },
        getAll(currentData) {
          return currentData.recommend
            .concat(currentData.normal)
            .concat(currentData.notRecommend);
        }
      },
      created() {
        this.currentData = this.tabs[0];
        this.current = this.getAll(this.currentData);
        this.currentLocation = "tab-book";
        this.currentSubLocation = "all";
      }
    });
  </script>

  <style lang="css" scoped>
    .item-image {
      height: 300px;
      width: auto;
      overflow: hidden;
      position: relative;
      object-fit: cover;
    }

    .card-content-normal {
      height: 150px;
    }

    .recommend-star {
      position: absolute;
      bottom: 0px;
      padding: 10px;
      right: 20px;
    }

    .brand-logo-custom {
      margin-left: 20px;
    }
  </style>
</body>

</html>