<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yann's 2019 Choice</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://lib.baomitu.com/materialize/1.0.0/css/materialize.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="http://lib.baomitu.com/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="http://fonts.proxy.ustclug.org/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <nav class="nav-extended">
        <div class="nav-wrapper grey darken-3">
          <a href="#" class="brand-logo brand-logo-custom"
            >Yann's 2019 Choice</a
          >
          <ul id="nav-mobile" class="right">
            <li class="tab">
              <a href="../annual-recommend/2018.html">Yann's 2018 Choice</a>
            </li>
            <li class="tab">
              <a href="../annual-recommend/2020.html">Yann's 2020 Choice</a>
            </li>
            <li
              v-for="tab in tabs"
              :id="tab.id"
              :class="{'active': currentLocation === tab.id}"
            >
              <a @click="getData(tab.id)">{{ tab.name }}</a>
            </li>
          </ul>
        </div>
        <div class="nav-content grey darken-3">
          <ul class="tabs tabs-transparent">
            <li
              class="tab"
              v-for="tab in currentSubLocations"
              :class="{'active': currentSubLocation === tab.id}"
            >
              <a @click="getSubData(tab.id)">{{ tab.name }}</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col s4 m3" v-for="data in current">
          <div class="card hoverable">
            <div class="card-image">
              <img class="item-image" :src="data.image" />
              <a
                :href="data.url"
                class="btn-floating halfway-fab waves-effect waves-light red"
                ><i class="material-icons">link </i></a
              >
            </div>
            <div class="card-content card-content-normal">
              <span class="card-title">{{ data.name }}</span>
              <p>{{ data.recommendText }}</p>
              <p class="right-align recommend-star">
                {{ data.recommendStar == undefined ? "差评指数" : "推荐指数" }}
                ：{{ data.recommendStar }}{{ data.notRecommendStar }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://lib.baomitu.com/vue/2.5.17/vue.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          tabs: [
            {
              id: "tab-book",
              name: "书籍",
              recommend: [
                {
                  name: "莫斯科绅士",
                  image: "https://i.loli.net/2019/08/26/UNhelyTFPxwD7JS.png",
                  url: "https://book.douban.com/subject/30128204/",
                  recommendText: "即使把我关在果壳之中，仍然自以为无限空间之王",
                  recommendStar: "★★★★★"
                },
                {
                  name: "大雪将至",
                  image:
                    "https://i.loli.net/2019/08/26/mz9H1GiBF673CcJ.png",
                  url: "https://book.douban.com/subject/27115714/",
                  recommendText: "一场人生一场梦",
                  recommendStar: "★★★★★"
                },
                {
                  name: "上流法则",
                  image:
                    "https://i.loli.net/2019/08/22/HRJwW8nipxLuVkq.png",
                  url: "https://book.douban.com/subject/27096813/",
                  recommendText: "选择与命运，一场永恒的话题",
                  recommendStar: "★★★★"
                },
              ],
              normal: [
                {
                  name: "父之罪",
                  image: "https://i.loli.net/2019/03/27/5c9b50c0a0e25.png",
                  url: "https://book.douban.com/subject/5269444/",
                  recommendText: "罪即罪，适合短途旅行的解乏读物",
                  recommendStar: "★★★★"
                }
              ],
              notRecommend: [
                {
                  name: "如果在冬夜，一个旅人",
                  image:
                    "https://i.loli.net/2019/08/26/tlnvDF2bTWeUH3h.png",
                  url: "https://book.douban.com/subject/10555535/",
                  recommendText: "就你聪明，使劲的作",
                  recommendStar: "★"
                },
                {
                  name: "每周工作4小时",
                  image: "https://i.loli.net/2019/03/31/5ca0d6cc52ccc.png",
                  url: "https://book.douban.com/subject/10786476/",
                  recommendText: "推荐直接阅读 极简工作法则",
                  recommendStar: "★★"
                }
              ]
            },
            {
              id: "tab-video",
              name: "视频",
              recommend: [
                {
                  name: "流浪地球",
                  image: "https://s2.ax1x.com/2019/02/23/khoVXV.jpg",
                  url: "https://movie.douban.com/subject/26266893/",
                  recommendText: "中式科幻元年之作",
                  recommendStar: "★★★★★"
                },
                {
                  name: "地久天长",
                  image: "https://i.loli.net/2019/03/25/5c98730418d59.png",
                  url: "https://movie.douban.com/subject/26715636",
                  recommendText: "so long, my son",
                  recommendStar: "★★★★★"
                },
                {
                  name: "波西米亚狂想曲",
                  image: "https://i.loli.net/2019/03/25/5c988324c53e1.png",
                  url: "https://movie.douban.com/subject/5300054/",
                  recommendText: "Queen, Never Death.",
                  recommendStar: "★★★★★"
                },
                {
                  name: "黑袍纠察队 第一季",
                  image: "https://i.loli.net/2019/08/22/8gby2qGPLdhrmeO.png",
                  url: "https://movie.douban.com/subject/3703650/",
                  recommendText: "制造的神，如果没有与之匹配神性，终究是一个悲剧",
                  recommendStar: "★★★★★"
                }
              ],
              normal: [],
              notRecommend: []
            },
            {
              id: "tab-other",
              name: "其他",
              recommend: [],
              normal: [],
              notRecommend: []
            }
          ],
          currentData: null,
          current: null,
          currentLocation: null,
          currentSubLocation: null,
          currentSubLocations: [
            {
              id: "all",
              name: "所有"
            },
            {
              id: "recommend",
              name: "推荐"
            },
            {
              id: "normal",
              name: "中立"
            },
            {
              id: "notRecommend",
              name: "差评"
            }
          ]
        },
        methods: {
          getData: function(id) {
            this.currentLocation = id;
            if (id === undefined) {
              this.currentData = this.tabs[0];
            }
            this.currentData = this.tabs.filter(item => item.id === id)[0];
            this.current = this.currentData.recommend;
            this.currentSubLocation = "recommend";
          },
          getSubData: function(type) {
            this.currentSubLocation = type;
            switch (this.currentSubLocation) {
              case "all":
                this.current = this.getAll(this.currentData);
                break;
              default:
                this.current = this.currentData[this.currentSubLocation];
            }
          },
          getAll(currentData) {
            return currentData.recommend
              .concat(currentData.normal)
              .concat(currentData.notRecommend);
          }
        },
        created() {
          this.currentData = this.tabs[0];
          this.current = this.getAll(this.currentData);
          this.currentLocation = "tab-book";
          this.currentSubLocation = "all";
        }
      });
    </script>

    <style lang="css" scoped>
      .item-image {
          height: 300px;
          width: auto;
          overflow: hidden;
          position: relative;
          object-fit: cover;
      }

      .card-content-normal {
          height: 150px;
      }

      .recommend-star {
          position: absolute;
          bottom: 0px;
          padding: 10px;
          right: 20px;
      }

      .brand-logo-custom {
          margin-left: 20px;
      }
    </style>
  </body>
</html>
