<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yann's 2021 Choice</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://lib.baomitu.com/materialize/1.0.0/css/materialize.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="http://lib.baomitu.com/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="http://fonts.proxy.ustclug.org/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <nav class="nav-extended">
        <div class="nav-wrapper grey darken-3">
          <a href="#" class="brand-logo brand-logo-custom"
            >Yann's 2021 Choice</a
          >
          <ul id="nav-mobile" class="right">
            <li class="tab">
              <a href="../annual-recommend/2018.html">Yann's 2018 Choice</a>
            </li>
            <li class="tab">
              <a href="../annual-recommend/2019.html">Yann's 2019 Choice</a>
            </li>
            <li class="tab">
              <a href="../annual-recommend/2020.html">Yann's 2020 Choice</a>
            </li>
            <li
              v-for="tab in tabs"
              :id="tab.id"
              :class="{'active': currentLocation === tab.id}"
            >
              <a @click="getData(tab.id)">{{ tab.name }}</a>
            </li>
          </ul>
        </div>
        <div class="nav-content grey darken-3">
          <ul class="tabs tabs-transparent">
            <li
              class="tab"
              v-for="tab in currentSubLocations"
              :class="{'active': currentSubLocation === tab.id}"
            >
              <a @click="getSubData(tab.id)">{{ tab.name }}</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col s4 m3" v-for="data in current">
          <div class="card hoverable">
            <div class="card-image">
              <img class="item-image" :src="data.image" />
              <a
                :href="data.url"
                class="btn-floating halfway-fab waves-effect waves-light red"
                ><i class="material-icons">link </i></a
              >
            </div>
            <div class="card-content card-content-normal">
              <span class="card-title">{{ data.name }}</span>
              <p>{{ data.recommendText }}</p>
              <p class="right-align recommend-star">
                {{ data.recommendStar == undefined ? "差评指数" : "推荐指数" }}
                ：{{ data.recommendStar }}{{ data.notRecommendStar }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://lib.baomitu.com/vue/2.5.17/vue.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          tabs: [
            {
              id: "tab-book",
              name: "书籍",
              recommend: [
                {
                  name: "编译器设计",
                  image: "https://jsd.cdn.zzko.cn/gh/yanickxia/picture-bed/20210108171417.png",
                  url: "https://book.douban.com/subject/20436488/",
                  recommendText: "不管浪不浪漫，学点不亏。",
                  recommendStar: "★★★★★"
                },
              ],
              normal: [
              ],
              notRecommend: [
              ]
            },
            {
              id: "tab-video",
              name: "视频",
              recommend: [
              ],
              normal: [],
              notRecommend: []
            },
            {
              id: "tab-other",
              name: "其他",
              recommend: [],
              normal: [],
              notRecommend: []
            }
          ],
          currentData: null,
          current: null,
          currentLocation: null,
          currentSubLocation: null,
          currentSubLocations: [
            {
              id: "all",
              name: "所有"
            },
            {
              id: "recommend",
              name: "推荐"
            },
            {
              id: "normal",
              name: "中立"
            },
            {
              id: "notRecommend",
              name: "差评"
            }
          ]
        },
        methods: {
          getData: function(id) {
            this.currentLocation = id;
            if (id === undefined) {
              this.currentData = this.tabs[0];
            }
            this.currentData = this.tabs.filter(item => item.id === id)[0];
            this.current = this.currentData.recommend;
            this.currentSubLocation = "recommend";
          },
          getSubData: function(type) {
            this.currentSubLocation = type;
            switch (this.currentSubLocation) {
              case "all":
                this.current = this.getAll(this.currentData);
                break;
              default:
                this.current = this.currentData[this.currentSubLocation];
            }
          },
          getAll(currentData) {
            return currentData.recommend
              .concat(currentData.normal)
              .concat(currentData.notRecommend);
          }
        },
        created() {
          this.currentData = this.tabs[0];
          this.current = this.getAll(this.currentData);
          this.currentLocation = "tab-book";
          this.currentSubLocation = "all";
        }
      });
    </script>

    <style lang="css" scoped>
      .item-image {
          height: 300px;
          width: auto;
          overflow: hidden;
          position: relative;
          object-fit: cover;
      }

      .card-content-normal {
          height: 150px;
      }

      .recommend-star {
          position: absolute;
          bottom: 0px;
          padding: 10px;
          right: 20px;
      }

      .brand-logo-custom {
          margin-left: 20px;
      }
    </style>
  </body>
</html>
